<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>The Skate Shop</h1>
<hr/>
<h1>About Us</h1>
    <p>
        Here at Skate Shop&copy;, we value the customers' individual needs. We know that without our customers, we would fail!
        We aim to offer high quality products at an affordable price. </p>
    <p>
        Contact a sales rep to learn more about our mission and values!
        We know that you have plenty of choices when buying skateboards, so we are forever grateful that you choose us!
    </p>

    <h3>
        <a href="mainscreen">Back to Main</a>
    </h3>
</body>
</html>